#root {
  height: 100%;
  padding: 1rem;
  text-align: center;
}

body {
  background-image: linear-gradient(112.5deg, rgb(214, 214, 214) 0%,
      rgb(214, 214, 214) 10%, rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,
      rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%, rgb(157, 157, 157) 55%,
      rgb(157, 157, 157) 60%, rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,
      rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%, rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),
    linear-gradient(157.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%, rgb(195, 195, 195) 10%,
      rgb(195, 195, 195) 53%, rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%, rgb(157, 157, 157) 55%,
      rgb(157, 157, 157) 60%, rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%, rgb(118, 118, 118) 88%,
      rgb(118, 118, 118) 91%, rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%), linear-gradient(135deg, rgb(214, 214, 214) 0%,
      rgb(214, 214, 214) 10%, rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%, rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,
      rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%, rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%, rgb(118, 118, 118) 88%,
      rgb(118, 118, 118) 91%, rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%), linear-gradient(90deg, rgb(195, 195, 195),
      rgb(228, 228, 228));
  background-blend-mode: overlay, overlay, overlay, normal;
  background-attachment: fixed;
}

body.dark-mode {

  background-image: linear-gradient(112.5deg, rgb(214, 214, 214) 0%,
      rgb(214, 214, 214) 10%, rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,
      rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%, rgb(157, 157, 157) 55%,
      rgb(157, 157, 157) 60%, rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,
      rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%, rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),
    linear-gradient(157.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%, rgb(195, 195, 195) 10%,
      rgb(195, 195, 195) 53%, rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%, rgb(157, 157, 157) 55%,
      rgb(157, 157, 157) 60%, rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%, rgb(118, 118, 118) 88%,
      rgb(118, 118, 118) 91%, rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%), linear-gradient(135deg, rgb(214, 214, 214) 0%,
      rgb(214, 214, 214) 10%, rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%, rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,
      rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%, rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%, rgb(118, 118, 118) 88%,
      rgb(118, 118, 118) 91%, rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%), linear-gradient(90deg, rgb(195, 195, 195),
      rgb(228, 228, 228));
  background-blend-mode: overlay, overlay, overlay, normal;
  background-attachment: fixed;
  
  background-image: linear-gradient(22.5deg, rgb(148, 148, 148) 0%, rgb(148, 148, 148) 3%,
      rgb(132, 132, 132) 3%, rgb(132, 132, 132) 16%, rgb(117, 117, 117) 16%, rgb(117, 117, 117) 26%,
      rgb(101, 101, 101) 26%, rgb(101, 101, 101) 29%, rgb(85, 85, 85) 29%, rgb(85, 85, 85) 65%,
      rgb(70, 70, 70) 65%, rgb(70, 70, 70) 89%, rgb(54, 54, 54) 89%, rgb(54, 54, 54) 100%),
    \linear-gradient(45deg, rgb(148, 148, 148) 0%, rgb(148, 148, 148) 3%, rgb(132, 132, 132) 3%,
      rgb(132, 132, 132) 16%, rgb(117, 117, 117) 16%, rgb(117, 117, 117) 26%, rgb(101, 101, 101) 26%,
      rgb(101, 101, 101) 29%, rgb(85, 85, 85) 29%, rgb(85, 85, 85) 65%, rgb(70, 70, 70) 65%,
      rgb(70, 70, 70) 89%, rgb(54, 54, 54) 89%, rgb(54, 54, 54) 100%),
    linear-gradient(112.5deg, rgb(148, 148, 148) 0%, rgb(148, 148, 148) 3%, rgb(132, 132, 132) 3%,
      rgb(132, 132, 132) 16%, rgb(117, 117, 117) 16%, rgb(117, 117, 117) 26%, rgb(101, 101, 101) 26%,
      rgb(101, 101, 101) 29%, rgb(85, 85, 85) 29%, rgb(85, 85, 85) 65%, rgb(70, 70, 70) 65%,
      rgb(70, 70, 70) 89%, rgb(54, 54, 54) 89%, rgb(54, 54, 54) 100%), linear-gradient(0deg,
      rgb(148, 148, 148) 0%, rgb(148, 148, 148) 3%, rgb(132, 132, 132) 3%, rgb(132, 132, 132) 16%,
      rgb(117, 117, 117) 16%, rgb(117, 117, 117) 26%, rgb(101, 101, 101) 26%, rgb(101, 101, 101) 29%,
      rgb(85, 85, 85) 29%, rgb(85, 85, 85) 65%, rgb(70, 70, 70) 65%, rgb(70, 70, 70) 89%, rgb(54, 54, 54) 89%,
      rgb(54, 54, 54) 100%), linear-gradient(90deg, rgb(96, 96, 96), rgb(8, 8, 8));
  background-blend-mode: overlay, overlay, overlay, overlay, normal;
 

  color: white;
}